<nav class="main-nav">
  <ul class="nav-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/pages/news.html">News</a></li>

    <li class="has-dropdown">
      <a href="/pages/schools.html">Schools</a>
      <ul class="dropdown">
        <li><a href="/pages/highland.html">Highland Elementary</a></li>
        <li><a href="/pages/rccs.html">Reedsport Community Charter School</a></li>
        <li><a href="/pages/athletics.html">Athletics</a></li>
        <li><a href="/pages/pool.html">Highland Pool</a></li>
        <li><a href="/pages/facilities-agreement.html">RCCS Facilities Use Agreement</a></li>
        <li><a href="/pages/reader-board.html">RCCS Reader Board Request</a></li>
      </ul>
    </li>

    <li class="has-dropdown">
      <a href="#">Families</a>
      <ul class="dropdown">
        <li><a href="https://or-rsd.edupoint.com/PXP2_Login.aspx" target="_blank">ParentVUE / StudentVUE</a></li>
        <li><a href="/pages/calendar.html">Instructional Calendar</a></li>
        <li><a href="/pages/bus.html">Bus Routes</a></li>
        <li><a href="/pages/food.html">Food Services</a></li>
        <li><a href="/pages/immunization.html">Immunization Requirements</a></li>
        <li><a href="/pages/pebt.html">P-EBT Benefits</a></li>
      </ul>
    </li>

    <li class="has-dropdown">
      <a href="/pages/resources.html">Resources</a>
      <ul class="dropdown">
        <li><a href="/pages/student-support-site.html">Student Support Site</a></li>
        <li><a href="/pages/tutoring.html">Free Student Tutoring</a></li>
        <li><a href="/pages/family.html">Parent & Family Resources</a></li>
        <li><a href="/pages/staff.html">Staff Resources</a></li>
        <li><a href="/pages/jobs.html">Employment Opportunities</a></li>
        <li><a href="/pages/partners.html">Community Partners</a></li>
        <li><a href="/pages/hr.html">Human Resources</a></li>
        <li><a href="/pages/surplus.html">Surplus Items for Sale</a></li>
        <li><a href="/pages/disease.html">Infectious Disease Annex</a></li>
        <li><a href="/pages/reports.html">District Reports</a></li>
      </ul>
    </li>

    <li class="has-dropdown">
      <a href="/pages/board.html">Board</a>
      <ul class="dropdown">
        <li><a href="/pages/school-board.html">School Board</a></li>
        <li><a href="/pages/policies.html">District Policies</a></li>
        <li><a href="/pages/election.html">Election Information</a></li>
        <li><a href="/pages/charter-committee-overview.html">Charter Advisory Committee</a></li>
      </ul>
    </li>

    <li class="has-dropdown">
      <a href="/pages/contact.html">Contact</a>
      <ul class="dropdown">
        <li><a href="/pages/about.html">About Us</a></li>
        <li><a href="/pages/directory.html">Staff Directory</a></li>
        <li><a href="/pages/feedback.html">Complaint & Commendation Form</a></li>
        <li><a href="mailto:hes.principal@rsd105.org">Email HES Principal</a></li>
        <li><a href="mailto:rccs.principal@rsd105.org">Email RCCS Principal</a></li>
      </ul>
    </li>
  </ul>
</nav>
